@media only screen and (max-width: 1400px) {
  .section .content {
    width: 94%;
  }
  .navbar .logo {
    display: flex;
    align-items: center;
  }
  .navbar .logo .logo-icon {
    font-size: 20px;
    color: #0468FF;
    margin: 4px;
  }
  .navbar .logo .logo-title {
    font-size: 34px;
    font-weight: 600;
    color: #152242;
  }
  .navbar .ul-nav .link-nav:nth-child(4) {
    display: none;
  }
  .navbar .ul-nav .link-nav:nth-child(7) {
    display: none;
  }
}
@media only screen and (max-width: 1200px) {
  .navbar .ul-nav .link-nav:nth-child(6) {
    display: none;
  }
  .navbar .ul-nav .link-nav:nth-child(5) {
    display: none;
  }
  .navbar .ul-nav .link-nav:nth-child(8) {
    display: flex;
  }
  .header-section .opacity .header-content {
    width: 92%;
  }
  .section-new .content {
    width: 92%;
  }
  .section-new .content .end-wrapper {
    flex-direction: column;
    row-gap: 20px;
  }
  .section-new .content .end-wrapper .download-wrap {
    justify-content: start;
  }
  .section-new .content .abs {
    flex-direction: column;
    row-gap: 10px;
  }
  .section-new .content .grid-wrapper {
    grid-template-columns: repeat(3, 1fr);
  }
  .section-new .content .grid-wrapper .grid-item:nth-child(1) {
    grid-column: 1/3;
  }
  .section-new .content .grid-wrapper .grid-item:nth-child(2) {
    grid-column: 3/5;
  }
  .section-new .content .grid-wrapper .grid-item:nth-child(2) .img-wrap {
    display: none;
  }
  .section-new .content .grid-wrapper .grid-item:nth-child(2) .text-wrap {
    padding-right: 8px;
    margin-right: 8px;
  }
  .section-new .content .grid-wrapper .grid-item:nth-child(3) {
    grid-column: 1/3;
  }
  .section-new .content .grid-wrapper .grid-item:nth-child(4) {
    grid-column: 3/5;
  }
  .section-new .content .grid-wrapper .grid-item:nth-child(5) {
    grid-column: 1/2;
  }
  .section-new .content .grid-wrapper .grid-item:nth-child(6) {
    grid-column: 2/4;
  }
  .section-new .content .grid-wrapper .grid-item:nth-child(7) {
    grid-column: 1/4;
  }
  .section-new .content .shoppe-wrapper {
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
  }
  .section-new .content .shoppe-wrapper .savdo-content {
    grid-column: 1/4;
  }
  .section-new .content .shoppe-wrapper .mijoz-content {
    grid-column: 1/4;
  }
  .section-new .content .shoppe-wrapper .mijoz-content .user {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
}
@media only screen and (max-width: 992px) {
  .navbar .ul-nav {
    display: none;
  }
  .navbar .hamburger {
    display: block;
    cursor: pointer;
    transition: all 0.25s ease-in-out;
    margin-top: 7px;
  }
  .navbar .hamburger .bar {
    width: 24px;
    height: 2px;
    margin: 5px 0;
    background-color: rgb(136, 136, 136);
  }
  .hamburger-content {
    width: 40%;
    left: -40%;
  }
  .hamburger-content .hamburger-ul.exit-x {
    width: 40%;
  }
  .header-section {
    display: none;
  }
  .mobilne-wrap {
    display: block;
  }
  .section-new {
    background-color: #fff;
  }
  .section-new .content .section-title:nth-child(1) {
    display: none;
  }
  .section-new .content .section-title:nth-child(2) {
    margin-top: 10px;
  }
  .section-new .content .desctop-slider {
    display: none;
  }
  .section-new .content .grid-wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
  .section-new .content .grid-wrapper .grid-item:nth-child(1) {
    display: none;
  }
  .section-new .content .grid-wrapper .grid-item:nth-child(2) {
    grid-column: 1/2;
    display: flex;
    flex-direction: column;
  }
  .section-new .content .grid-wrapper .grid-item:nth-child(2) .img-wrap {
    display: block;
  }
  .section-new .content .grid-wrapper .grid-item:nth-child(2) .text-wrap {
    margin-right: 8px;
  }
  .section-new .content .grid-wrapper .grid-item:nth-child(3) {
    display: none;
  }
  .section-new .content .grid-wrapper .grid-item:nth-child(4) {
    display: none;
  }
  .section-new .content .grid-wrapper .grid-item:nth-child(5) {
    display: none;
  }
  .section-new .content .grid-wrapper .grid-item:nth-child(6) {
    grid-column: 2/3;
    display: flex;
    flex-direction: column;
  }
  .section-new .content .grid-wrapper .grid-item:nth-child(7) {
    display: none;
  }
  .section-new .content .grid-wrapper .grid-item:nth-child(8),
  .section-new .content .grid-wrapper .grid-item:nth-child(9),
  .section-new .content .grid-wrapper .grid-item:nth-child(10),
  .section-new .content .grid-wrapper .grid-item:nth-child(11) {
    display: flex;
    flex-direction: column;
  }
  .section-new .content .grid-wrapper .grid-item {
    height: auto;
    border-radius: 10px;
    overflow: hidden;
    border: none;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.225);
  }
  .section-new .content .grid-wrapper .grid-item .img-wrap {
    width: 100%;
    height: 120px;
  }
  .section-new .content .grid-wrapper .grid-item .text-wrap .title {
    font-size: 22px;
    line-height: 28px;
  }
  .section-new .content .grid-wrapper .grid-item .text-wrap .sub-title {
    position: relative;
    font-size: 16px;
    line-height: 19px;
    padding: 14px 0;
    color: #0468ff;
    border-top: 1px solid rgb(229, 229, 229);
    border-bottom: 0px solid transparent;
  }
  .section-new .content .grid-wrapper .grid-item .text-wrap .sub-title:hover {
    border-bottom: none;
  }
  .section-new .content .grid-wrapper .grid-item .text-wrap .sub-title span {
    position: absolute;
    right: 0;
    font-size: 14px;
  }
  .section-new .content .grid-wrapper .grid-item .text-wrap .sub-title:nth-child(1) {
    border-top: none;
  }
  .section-new .content .shoppe-wrapper {
    display: none;
  }
  .section-new .content .xabar-wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
  .section-new .content .xabar-wrapper .xabar-item:nth-child(1) {
    grid-column: span 1;
    border: none;
  }
  .section-new .content .xabar-wrapper .xabar-item:nth-child(1) .home-wrap {
    grid-template-columns: repeat(1, 1fr);
  }
  .section-new .content .xabar-wrapper .xabar-item:nth-child(1) .home-wrap .katta-img {
    height: 200px;
  }
  .section-new .content .xabar-wrapper .xabar-item:nth-child(2) {
    border-top: none;
    border-right: none;
    border-bottom: none;
  }
  .section-new .content .xabar-wrapper .xabar-item:nth-child(5) {
    border-bottom: none;
    border-right: none;
    border-top: 1px solid rgb(191, 191, 191);
    grid-column: span 2;
  }
  .section-new .content .poisk-wrapper {
    flex-direction: column;
    row-gap: 30px;
  }
  .section-new .content .poisk-wrapper .left-wrap,
  .section-new .content .poisk-wrapper .right-wrap {
    width: 100%;
  }
  .section-new .content .baza-danni {
    display: none;
  }
  .section-new .content .new-reclama-wrap {
    border: 2px solid red;
    display: none;
  }
  .section-new .content .rayon-wrap {
    display: none;
  }
  .section-new .content .line {
    display: none;
  }
  .section-new .content .end-wrapper {
    display: none;
  }
  .section-new .content .abs {
    display: none;
  }
  .section-new .content .page-on {
    display: none;
  }
}
@media only screen and (max-width: 768px) {
  .navbar .logo {
    width: 80px;
    margin-bottom: 10px;
  }
  .navbar .ul-nav {
    display: none;
  }
  .navbar .hamburger {
    margin-top: 10px;
  }
  .navbar .nav-btn-wrap {
    display: none;
  }
  .hamburger-content {
    width: 50%;
    left: -50%;
  }
  .hamburger-content .hamburger-ul.exit-x {
    width: 50%;
  }
  .mobilne-wrap .mobilne-content .bloc-wrapper {
    margin: 20px 0;
    grid-template-columns: repeat(2, 1fr);
  }
  .section-new .content .grid-wrapper {
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
  }
  .section-new .content .grid-wrapper .grid-item:nth-child(2) {
    grid-column: span 1;
  }
  .section-new .content .grid-wrapper .grid-item:nth-child(6) {
    grid-column: span 1;
  }
  .section-new .content .xabar-wrapper {
    grid-template-columns: repeat(1, 1fr);
  }
  .section-new .content .xabar-wrapper .xabar-item:nth-child(1) {
    grid-column: span 1;
    border: none;
  }
  .section-new .content .xabar-wrapper .xabar-item:nth-child(2) {
    border-top: none;
    border-right: none;
    border-bottom: none;
    border-left: none;
    border-top: 1px solid rgb(191, 191, 191);
  }
  .section-new .content .xabar-wrapper .xabar-item:nth-child(5) {
    border-bottom: none;
    border-right: none;
    border-top: 1px solid rgb(191, 191, 191);
    grid-column: span 1;
  }
  .section-new .content .xabar-wrapper .xabar-item:nth-child(4),
  .section-new .content .xabar-wrapper .xabar-item:nth-child(5) {
    border-left: none;
  }
}
@media only screen and (max-width: 500px) {
  .navbar .logo {
    position: relative;
    left: -75px;
  }
  .navbar .nav-icon-wrap {
    margin-right: 8px;
  }
  .navbar .nav-icon-wrap .fa-regular:nth-child(3) {
    display: none;
  }
  .navbar .nav-icon-wrap .fa-solid {
    display: none;
  }
  .hamburger-content {
    width: 100%;
    left: -100%;
  }
  .hamburger-content .hamburger-ul.exit-x {
    width: 100%;
  }
  .mobilne-wrap .mobilne-content {
    padding: 16px;
  }
  .mobilne-wrap .mobilne-content .bloc-wrapper {
    margin: 20px 0 50px;
    grid-template-columns: repeat(2, 1fr);
    gap: 8px;
  }
  .mobilne-wrap .mobilne-content .bloc-wrapper .block-item {
    padding: 12px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 10px rgba(21, 34, 66, 0.04), 0 0 20px rgba(21, 34, 66, 0.1);
    border-radius: 4px;
    background: #fff;
    padding: 12px;
    color: #152242;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    text-decoration: none;
  }
  .mobilne-wrap .mobilne-content .bloc-wrapper .block-item .block-icon {
    width: 24px;
    height: 24px;
  }
  .section-new .content .xabar-wrapper {
    display: none;
  }
  .section-new .content .poisk-wrapper {
    display: none;
  }
}/*# sourceMappingURL=mediya.css.map */