* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Lato, Arial, sans-serif;
}
* a {
  text-decoration: none;
}

.section {
  width: 100%;
}
.section .content {
  width: 1100px;
  margin: 0 auto;
}

.header-wrapper {
  display: none;
  background-image: url(../images/hand-right.png), url(../images/hand-left.png);
  background-position: 0 100%, 100% 100%;
  background-size: 356px 363px, 389px 340px;
  background-repeat: no-repeat, no-repeat;
  background-color: #E5F0FF;
  padding-top: 60px;
  padding-bottom: 230px;
}
.header-wrapper .text-content {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

body .realtor-title {
  font-weight: 700;
  font-size: 28px;
  line-height: 36px;
  color: #152242;
  padding: 30px 0;
}
body .content-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #152242;
}
body .sub-title {
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #152242;
}
body .header-btn {
  padding: 12px 19px;
  height: 48px;
  display: inline-flex;
  background-color: #0468FF;
  color: #fff;
  position: relative;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  outline: none;
  border: 1px solid transparent;
  border-radius: 4px;
  white-space: nowrap;
  left: 50%;
  transform: translateX(-50%);
}
body .header-btn:hover {
  background-color: #0661EC;
}
body .header-btn .header-btn-text {
  font-weight: 700;
}

.title2-open {
  display: none;
}

.help-realtor-wrap {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}
.help-realtor-wrap .help-realtor-item {
  display: flex;
  flex-direction: column;
}
.help-realtor-wrap .help-realtor-item .images {
  width: 90px;
  height: 90px;
}
.help-realtor-wrap .help-realtor-item .images .realtor-img {
  width: 100%;
  height: 100%;
}
.help-realtor-wrap .help-realtor-item .text-content {
  margin-top: 10px;
}
.help-realtor-wrap .help-realtor-item .text-content .sub-title {
  margin-top: 10px;
}

.advice-wrap {
  display: flex;
  justify-content: space-between;
  gap: 35px;
}
.advice-wrap .advice-item {
  position: relative;
  flex: 1 1;
  margin-bottom: 32px;
  border: 4px solid transparent;
  border-radius: 8px;
  background-clip: padding-box;
  background-color: #fff;
  padding: 32px 24px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.advice-wrap .advice-item::before {
  background: linear-gradient(90deg, #ffebaf 15%, #ffdcc8 50%, #ffe1ff 70%, #006cfd);
}
.advice-wrap .advice-item::after, .advice-wrap .advice-item::before {
  position: absolute;
  top: -4px;
  right: -4px;
  bottom: -4px;
  left: -4px;
  z-index: -1;
  border-radius: 8px;
  content: "";
}
.advice-wrap .advice-item .images {
  width: 50px;
  height: 50px;
}

.baholash-wrapper .container1,
.baholash-wrapper .container2 {
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
  gap: 15px;
  height: 96px;
}
.baholash-wrapper .container1 .img,
.baholash-wrapper .container2 .img {
  border-radius: 50%;
  overflow: hidden;
  width: 100%;
  height: 100%;
}
.baholash-wrapper .container1 .img img,
.baholash-wrapper .container2 .img img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.baholash-wrapper .container1 .dagre-img,
.baholash-wrapper .container2 .dagre-img {
  width: 100px;
  height: 100px;
  position: relative;
  top: -30px;
}
.baholash-wrapper .container1 .dagre-img2,
.baholash-wrapper .container2 .dagre-img2 {
  width: 60px;
  height: 60px;
}
.baholash-wrapper .container1 .dagre-item,
.baholash-wrapper .container2 .dagre-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #F1F2F4;
  border-radius: 8px;
  width: 100%;
  padding: 15px;
}
.baholash-wrapper .container1 .dagre-item .text-content,
.baholash-wrapper .container2 .dagre-item .text-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #000;
}
.baholash-wrapper .container1 .dagre-item .text-content .sub-title,
.baholash-wrapper .container2 .dagre-item .text-content .sub-title {
  color: #000;
}
.baholash-wrapper .container1 .dagre-item .text-content .sub-title .fa-solid,
.baholash-wrapper .container2 .dagre-item .text-content .sub-title .fa-solid {
  color: #FF7E00;
}
.baholash-wrapper .container1 .dagre-item .text-content .sub-title .dagre-number,
.baholash-wrapper .container2 .dagre-item .text-content .sub-title .dagre-number {
  color: #FF7E00;
}
.baholash-wrapper .container2 {
  height: 92px;
}

.baholash-btn-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 40px;
  padding: 50px 0 100px;
}
.baholash-btn-wrapper .header-btn {
  display: flex;
  transform: translate(0);
  left: auto;
  top: auto;
}
.baholash-btn-wrapper .header-btn:nth-child(2) {
  background-color: #E5F0FF;
  color: #0468FF;
}
.baholash-btn-wrapper .header-btn:nth-child(2):hover {
  background-color: #CFDAEB;
}

.section.blue-section {
  background-color: #E5F0FF;
}

.works-wrap {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}
.works-wrap .works-item {
  width: 100%;
  position: relative;
  margin: 80px 0;
  z-index: 10;
}
.works-wrap .works-item .works-number {
  position: absolute;
  top: -110px;
  left: -52px;
  font-size: 180px;
  line-height: 216px;
  font-weight: 700;
  color: #CEE3FF;
  z-index: -1;
}/*# sourceMappingURL=podborrealtor.css.map */